{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('vendor/mdb/css/addons-pro/steppers.min.css') }}" rel="stylesheet">
    {{ encore_entry_link_tags('checkout') }}
    <style>
        .form-check-input[type="radio"]:checked+label:after {
            background-color: red !important;
            border: 2px solid red !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid bandeau">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center p-3">
                            <h2 class="h2">Je valide ma commande</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        {% if cart and (cart.products|length > 0 or cart.boxs|length > 0) %}
        <div class="steps-form-2">
            <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                <div class="steps-step-2">
                    <a href="#step-1" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Contenu du panier"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
                <div class="steps-step-2">
                    <a href="#step-2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Informations livraison"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-1">
                    <i class="far fa-sad-tear fa-4x primary-text"></i>
                </div>
                <div class="col-11">
                    <h4 class="h4">Votre panier Mon Premier Sommelier est vide. </h4>
                    <span>N'attendez plus, consulter nos <a class="primary-text" href="{{ path('wine_list') }}">vins</a> sans plus attendre</span>
                </div>
            </div>
        {% endif %}

        <!-- First Step -->
        {% if cart and (cart.products|length > 0 or cart.boxs|length > 0) %}
            <div class="row setup-content-2" id="step-1">
                <div class="col-md-12">
                    <h3 class="font-weight-bold pl-0 my-4"><strong>Mon panier</strong></h3>
                    <section class="dark-grey-text">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-column justify-content-center">
                                    <span><strong class="primary-text">Je pense malin !</strong> J'ajoute quelques bouteilles dans mon panier pour les occasions futures.</span>
                                    <span>Ca m'évitera de courir partout le moment venu !</span>
                                </div>
                            </div>
                            <table data-url="{{ path('update_cart') }}" class="table mb-0">
                                <thead class="mdb-color lighten-5">
                                <tr>
                                    <th></th>
                                    <th class="font-weight-bold">
                                        <strong>Produit</strong>
                                    </th>
                                    <th class="font-weight-bold">
                                        <strong>Prix</strong>
                                    </th>
                                    <th></th>
                                    <th class="font-weight-bold">
                                        <strong>Quantité</strong>
                                    </th>
                                    <th class="font-weight-bold">
                                    </th>
                                    <th class="font-weight-bold">
                                        <strong>Sous-total</strong>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for productVo in cart.products %}
                                    <tr class="product-item" data-capacity-id="{{ productVo.capacity.id }}" data-product-actual-quantity="{{ productVo.quantity }}">
                                        <th scope="row">
                                            <img src="{{ vich_uploader_asset(productVo.product, 'imageFile') }}" alt="" class="img-fluid z-depth-0">
                                        </th>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div>
                                                    <div class="mt-3">
                                                        <strong class="font-weight-bold"  style="color: {{ applyColor(productVo.product.profile.id, 'product') }}">{{productVo.product.vintageName}}</strong> -
                                                        <span>{{productVo.product.year}}</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span>{{ productVo.domain.name }} - {{productVo.product.appellation}}</span>
                                                </div>
                                                <div>
                                                    <span>{{productVo.capacity.type}} - {{productVo.capacity.quantity}}L</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span {% if productVo.pricePromo is not null %}class="text-cancel"{% endif %}>{{productVo.unitPrice}}€</span>
                                            {% if productVo.pricePromo is not null %}
                                                <span class="primary-text">{{productVo.pricePromo}}€</span>
                                            {% endif %}
                                        </td>
                                        <td></td>
                                        <td class="d-flex flex-column align-items-end">
                                            <input data-type="product" data-item-id="{{ productVo.capacity.id }}" data-init-value="{{ productVo.quantity }}" type="number" min="0" value="{{ productVo.quantity }}" aria-label="Search" class="form-control entry-quantity">
                                            <span class="text-right small d-none primary-text error_item_{{ productVo.capacity.id }}"></span>
                                        </td>
                                        <td></td>
                                        <td class="font-weight-bold">
                                            <strong>{{productVo.calculateSubTotalPrice}}€</strong>
                                        </td>
                                        <td>
                                            <button class="remove-element button-custom btn-floating d-flex justify-content-center align-items-center text-white" data-toggle="tooltip" data-placement="top"
                                                    title="Supprimer" data-url="{{ path('remove_item_cart', {'id': productVo.capacity.id, 'type': 'product'}) }}">
                                                X
                                            </button>
                                    </tr>
                                {% endfor %}
                                {% for boxVo in cart.boxs %}
                                    <tr class="product-item" data-capacity-id="{{ boxVo.box.id }}" data-product-actual-quantity="{{ boxVo.quantity }}">
                                        <th scope="row">
                                            <img src="{{ vich_uploader_asset(boxVo.box, 'imageFile') }}" alt="" class="img-fluid z-depth-0">
                                        </th>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div>
                                                    <div class="mt-3">
                                                        <strong class="font-weight-bold" style="color: {{ applyColor(boxVo.box.id, 'box') }}">Box "{{boxVo.box.name}}"</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span>{{boxVo.box.price}}€</span>
                                        </td>
                                        <td></td>
                                        <td class="d-flex flex-column align-items-end">
                                            <input data-type="box" data-item-id="{{ boxVo.box.id }}" data-init-value="{{ boxVo.quantity }}" type="number" min="0" value="{{ boxVo.quantity }}" aria-label="Search" class="form-control entry-quantity">
                                            <span class="text-right small d-none primary-text error_item_{{ boxVo.box.id }}"></span>
                                        </td>
                                        <td></td>
                                        <td class="font-weight-bold">
                                            <strong>{{boxVo.calculateSubTotalPrice}}€</strong>
                                        </td>
                                        <td>
                                            <button class="remove-element button-custom btn-floating d-flex justify-content-center align-items-center text-white" data-toggle="tooltip" data-placement="top"
                                                    title="Supprimer" data-url="{{ path('remove_item_cart', {'id': boxVo.box.id, 'type': 'box'}) }}">
                                                X
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6"></td>
                                    <td>
                                        <h4 class="mt-2">
                                            <strong>Total</strong>
                                        </h4>
                                    </td>
                                    <td class="text-right">
                                        <h4 class="mt-2">
                                            <strong>{{ cart.getTotalPriceInCart }}€</strong>
                                        </h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <button class="primary-bkg text-white nextBtn-2 float-right btn btn-sm font-weight-bold" type="button">Livraison</button>
                    {% endif %}
                </div>
            </div>

            <!-- Second Step -->
            <div class="row setup-content-2" id="step-2">
                    <div class="col-12">
                        <h3 class="font-weight-bold pl-0 my-4"><strong>Ma livraison aux petits oignons</strong></h3>
                        <div class="row">
                            <div class="col-sm-12 offset-md-3 col-md-6 text-center">
                                <span>Toutes les informations ci-dessous sont indispensables à la livraison et la facturation.</span>
                            </div>
                        </div>
                        {% form_theme form 'forms/_contact.html.twig' %}
                        {{ form_start(form, {'attr': {'class': 'valid-delivery'}}) }}
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    {{ form_row(form.firstname) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    {{ form_row(form.address) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form delivery-zip-code">
                                    {{ form_row(form.zipCode) }}
                                </div>
                                <div class="invalid-feedback zip-code">
                                    Seul la livraison sur Marseille est assurée.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="md-form">
                                    {{ form_row(form.city) }}
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div>
                                    {{ form_row(form.major) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    {{ form_row(form.phoneNumber) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="md-form">
                                    {{ form_row(form.comment) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="md-form">
                                    <span>Je choisis de me faire livrer :</span>
                                    {{ form_widget(form.typeDelivery) }}
                                </div>
                            </div>
                            <div class="nicheList col-sm-12 col-md-6 {% if form.children.deliveryNiche.vars.data is null %}d-none"{% endif %}>
                                <div class="md-form">
                                    {{ form_widget(form.deliveryNiche) }}
                                    {{ form_label(form.deliveryNiche) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="font-weight-bold primary-text">Et si vous n'êtes pas là ?</span>
                            </div>
                            <div class="col-12">
                                <span>Ne perdez pas votre livraison, indiquez nous le nom d'un voisin ou un lieu où nous pourrons déposer votre colis avec votre accord.</span>
                            </div>
                            <div class="col-12">
                                <span>En mon absence, vous pouvez déposer le colis chez: </span>
                                <div class="md-form">
                                    {{ form_widget(form.personIfAbsent) }}
                                    {{ form_label(form.personIfAbsent) }}
                                </div>
                            </div>
                        </div>
                        <div id="container-button" class="col-12">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <button class="primary-bkg btn btn-sm prevBtn-2 text-white font-weight-bold" type="button">Panier</button>
                                </div>
                                <div id="valid-delivery" class="col-6 text-right">
                                    {% if cart %}
                                    <button class="primary-bkg btn btn-sm float-right text-white" type="submit">
                                            <span class="update-delivery font-weight-bold {% if cart.products|length > 0 and not cart.deliveryInformation is not null%}d-none{% endif %}">Je mets à jour mes informations</span>
                                            <span class="define-delivery font-weight-bold {% if cart.products|length == 0 or (cart.products|length > 0 and not cart.deliveryInformation is null ) %}d-none{% endif %}">Je valide mes informations</span>
                                    </button>
                                    {% endif %}
                                </div>
                                {{ form_end(form) }}
                            </div>

                            {% if app.session.get('cart') and app.session.get('cart').deliveryInformation is not null and payment_possible%}
                                <div id="container-payment" class="row">
                                    <div class="col-12">
                                        <form action="" method="POST" class="texf-center">
                                            <script
                                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                    data-key="{{ stripe_public_key }}"
                                                    data-amount="{{ app.session.has('cart') ? app.session.get('cart').getTotalPriceWithDelivery() * 100 : 0 }}"
                                                    data-name="Mon Premier Sommelier"
                                                    data-currency="eur"
                                                    data-label="Procéder au paiement"
                                                    data-email="{{app.session.has('cart') ? app.session.get('cart').deliveryInformation.email}}"
                                                    data-image="{{asset('build/images/logo.png')}}"
                                                    data-locale="fr"
                                                    data-zip-code="false">
                                            </script>
                                            <button type="submit" class="btn btn-sm btn-outline-success btn-rounded waves-effect float-right font-weight-bold">Procéder au paiement</button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <span class="small">En validant ma commande, j'accepte les Conditions Générales de vente présentes en bas de page.</span>
                                </div>
                                <div class="col-12 text-center">
                                    <span class="small">"Vous disposez d'un délai de rétractation de 14 jours selon l'article L121-21 du Code de la Consommation"</span>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('vendor/mdb/js/addons-pro/steppers.min.js')}}"></script>
    {{ encore_entry_script_tags('checkout') }}
    <script>
        $("input[type='radio']").on('change', function (e) {
            let listNiches = $('.nicheList');
            if ($(this).prop('id') === 'delivery_typeDelivery_1') {
                if (listNiches.hasClass('d-none')) {
                    listNiches.removeClass('d-none');
                }
            } else {
                if (!listNiches.hasClass('d-none')) {
                    listNiches.addClass('d-none');
                }
            }
        })
    </script>
{% endblock %}
