{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x"></div>
        <div class="grid-cell">
            <h1 class="grid-x">Connectez-vous à Mon Premier Sommelier</h1>
            {% if error %}
                <aside class="rc-alert alert--flat rc-alert--error" role="alert">
                <span>
                    {{ error.messageKey|trans(error.messageData, 'messages') }}
                </span>
                </aside>
            {% endif %}
{#                {% form_theme form 'forms/security/_login.html.twig' %}#}
            {{ form_start(form) }}
            {{ form_label(form.identifier) }}
            {{ form_widget(form.identifier) }}
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
            <button type="submit">Connecter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
