{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="container-fluid pr-0 pl-0">
    <div id="carousel-slider-homepage" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for slider in sliders %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        {% if slider.link %}
                            <a href="{{ slider.link }}">
                        {% endif %}
                            <img href="{{ slider.link }}" class="d-block w-100" src="{{ vich_uploader_asset(slider, 'imageFile') }}" alt="slider-{{ loop.index }}">
                        {% if slider.link %}
                            </a>
                        {% endif %}
                    </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-4 mb-4 p-0">
        <img class="img-fluid" src="{{ vich_uploader_asset(globalConf, 'imageHomepageFile') }}" alt="main-image"/>
    </div>
</div>
{% endblock %}
