{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="container-fluid pr-0 pl-0">
    <div id="carousel-slider-homepage" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for slider in sliders %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        {% if slider.link %}
                            <a href="{{ slider.link }}">
                        {% endif %}
                            <img href="{{ slider.link }}" class="d-block" src="{{ vich_uploader_asset(slider, 'imageFile') }}" alt="slider-{{ loop.index }}">
                            <div class="container caption-accueil">
                                <div class="link-slider">
                                    {{ slider.textSlider|raw }}
                                </div>
                            </div>
                        {% if slider.link %}
                            </a>
                        {% endif %}
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row mb-4">
        <div class="col-12 text-center d-flex flex-column justify-content-center align-items-center">
            <span>Mon Premier Sommelier rend la dégustation accessible !</span>
            <span>Nous vous aidons à <strong class="font-italic">Choisir, Déguster</strong> et <strong class="font-italic">Apprendre</strong> le vin.</span>
            <span class="primary-text font-italic font-weight-bold">Vous n'êtes plus seul !</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-12 pb-4 text-center">
                    <img src="{{ asset('build/images/choice.png') }}" alt="Choisir son vin" width="120" height="120" />
                </div>
                <h4 class="col-12 h5 primary-text font-weight-bold font-italic text-center pb-2">Choisir rapidement</h4>
                <p class="font-italic text-center col-12 text-info">
                    Le choix du vin est un défi, c'est plus rapide de trouver Charlie !
                </p>
                <p class="font-italic text-center col-12">
                    Mon Premier Sommelier vous guide en classant les vins par profil. Trouvez le profil qui correspond à vos goûts.<br/>
                    <span class="font-weight-bold">Simple !</span>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-12 pb-4 text-center">
                    <img src="{{ asset('build/images/degust.png') }}" alt="Déguster" width="120" height="120"/>
                </div>
                <h4 class="col-12 h5 primary-text font-weight-bold font-italic text-center pb-2">Déguster en s'amusant</h4>
                <p class="font-italic text-center col-12 text-info">
                    Souvent, la dégustation rime avec équation
                </p>
                <p class="font-italic text-center col-12">
                    Mon Premier Sommelier vous Accompagne pas à pas. Avec chaque vin, retrouvez "Ma Première Méthode" et une Fiche&Quiz.<br/>
                    <span class="font-weight-bold">Ludique !</span>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-12 pb-4 text-center">
                    <img src="{{ asset('build/images/learn.png') }}" alt="Apprendre facilement" width="120" height="120"/>
                </div>
                <h4 class="col-12 h5 primary-text font-weight-bold font-italic text-center pb-2">Apprendre facilement</h4>
                <p class="font-italic text-center col-12 text-info">
                    Le vin est un vaste sujet qu'il faut simplifié. Alors, concentrons nous sur l'essentiel !
                </p>
                <p class="font-italic text-center col-12">
                    Avec les <span class="font-weight-bold">Tastuces</span>, on simplfiie le langage,<br/>
                    afin que le vin soit compris <span class="font-weight-bold">par tous.</span><br/>
                    <span class="font-weight-bold">Facile !</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <span>Soyez curieux, goutez à tout ! Bonne dégustation !</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <img class="w-100 d-none d-md-block" src="{{ asset('build/images/home_bottom_desktop.png') }}" alt="main-image"/>
    </div>
</div>
{% endblock %}
