{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    {% set informations = [
        {'icon': 'fas fa-map-marker-alt', 'title': 'Proximité', 'description': 'Des conseils'},
        {'icon': 'fas fa-euro-sign', 'title': 'Prix', 'description': 'Pour tous les budgets'},
        {'icon': 'fas fa-certificate', 'title': 'Qualité', 'description': 'La meilleure sélection'},
        {'icon': 'fas fa-exchange-alt', 'title': 'Livraison', 'description': 'Un défaut ? nous remplaçons'}
    ] %}
<div class="container-fluid pr-0 pl-0">
    <div id="carousel-slider-homepage" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for index, slider in sliders %}
                {% if slider.link %}
                    <a href="{{ slider.link }}">
                {% endif %}
                <div class="carousel-item{% if index == 0 %} active{% endif %}">
                    <img class="d-block w-100" src="{{vich_uploader_asset(slider, 'imageFile')}}">
                </div>
                {% if slider.link %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="page-homepage">
        <div class="page-homepage--banner">
            <div class="container d-flex justify-content-around">
                {% for icon in informations %}
                    <div class="d-flex align-items-center">
                        <i class="{{ icon.icon }} fa-lg mr-3 p-2"></i>
                        <p class="page-homepage--banner__text d-flex flex-column justify-content-center m-0">
                            <strong>{{ icon.title }}</strong>
                            <span>{{ icon.description }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<section id="image-home" class="container-fluid mt-4 mb-4" style="background: url({{ vich_uploader_asset(globalConf, 'imageHomepageFile') }}) no-repeat center fixed;")>
</section>
{% endblock %}
