{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="container-fluid pr-0 pl-0">
    <div id="carousel-slider-homepage" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            {% for index, slider in sliders %}
                <li data-target="#carousel-slider-homepage" {% if index == 0 %}class="active"{% endif %} data-slide-to="{{ index }}"></li>
            {% endfor %}
{#            <li data-target="#carousel-slider-homepage" data-slide-to="0" class="active"></li>#}
{#            <li data-target="#carousel-slider-homepage" data-slide-to="1"></li>#}
{#            <li data-target="#carousel-slider-homepage" data-slide-to="2"></li>#}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for index, slider in sliders %}
                {% if slider.link %}
                    <a href="{{ slider.link }}">
                {% endif %}
                <div class="carousel-item{% if index == 0 %} active{% endif %}">
                    <img class="d-block w-100" src="{{vich_uploader_asset(slider, 'imageFile')}}">
                </div>
                {% if slider.link %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block breadcrumb %}
{% endblock %}
