{% extends 'base.html.twig' %}

{% block stylesheets %}
     {{ encore_entry_link_tags('wine_profile_list') }}
{% endblock %}

{% block breadcrumb %}
{{ render(url('breadcrumb', {'type': 'Profil de vin'})) }}
{% endblock %}

{% block body %}
    {% set profilesName = [
        constant('App\\Entity\\VineProfile::WHITE_TYPE_PROFILE'),
        constant('App\\Entity\\VineProfile::PINK_TYPE_PROFILE'),
        constant('App\\Entity\\VineProfile::RED_TYPE_PROFILE')
    ]
    %}
    <div class="container mb-3 mt-2">
        {% for name in profilesName %}
            <div class="row mt-5 mb-2">
                <div class="col-12">
                    <h2 class="h2 title-type p-2">
                        {{name}}
                    </h2>
                </div>
            </div>
            <div class="row d-flex">
                {% for profile in profiles %}
                    {% if profile.type == name %}
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card-profile white">
                                <div class="card-profile_layout d-flex justify-content-center" style="background-color: {{ profile.color }}">
                                    <h2 class="h5 pt-3" style="color: {{ profile.colorText }}">{{ profile.name }}</h2>
                                </div>
                                <div class="card-profile_image d-flex justify-content-center">
                                    <div class="card-profile_image_circle-first">
                                        <div class="card-profile_image_circle-second d-flex align-items-center justify-content-center" style="border: 4px solid {{ profile.color }}">
                                            <img src="{{ vich_uploader_asset(profile, 'imageFile') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-profile_content d-flex">
                                    <div class="card-profile_content-text d-flex flex-column align-items-center justify-content-between pb-2 w-100">
                                        <h3 class="h6 font-weight-bold">{{ profile.description }}</h3>
                                        <p class="pl-2 pr-2 w-100 h-100 overflow-auto">
                                            {{ profile.longDescription }}
                                        </p>
                                        <a href="#">
                                            <a href="#"><i class="fas fa-wine-bottle fa-sm"></i> Découvrir les vins</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wine_profile_list') }}
{% endblock %}
