{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div {% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form, widget_attr) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert-add-item primary-text">
                <i class="fa fa-warning"></i> <span>{{ error.message }}</span>
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
