{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block content_title %}
    {% apply spaceless %}
        <div class="alert alert-{{entity.quantity > 0 ? 'success' : 'warning'}} text-center" role="alert">
            Editer stock <span class="font-weight-bold font-weight-italic">{{ entity.capacity.wine }} - {{ entity.capacity.capacityFullname }}</span> : <span class="font-weight-bold">{{ entity.quantity }} bouteilles restantes.</span>
        </div>
    {% endapply %}
{% endblock %}

{% block entity_form %}
    {% form_theme form with 'bundles/forms/_edit_stock.html.twig' %}
    {{ form(form) }}
{% endblock entity_form %}
