{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block content_title %}
    {% apply spaceless %}
        <div class="alert alert-{{entity.quantity > 0 ? 'success' : 'warning'}} text-center" role="alert">
            Editer stock <span class="font-weight-bold font-weight-italic">{{ entity.wine }}</span> : <span class="font-weight-bold">{{ entity.quantity }} bouteilles restantes.</span>
        </div>
    {% endapply %}
{% endblock %}

{% block form_row -%}
    {% set _field_type = easyadmin.field.fieldType|default('default') %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
        {{- form_label(form) -}}
        <div class="form-widget">
            {% set has_prepend_html = easyadmin.field.prepend_html|default(null) is not null %}
            {% set has_append_html = easyadmin.field.append_html|default(null) is not null %}
            {% set has_input_groups = has_prepend_html or has_append_html %}

            {% if has_input_groups %}<div class="input-group">{% endif %}
                {% if has_prepend_html %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ easyadmin.field.prepend_html|raw }}</span>
                    </div>
                {% endif %}

                {{- form_widget(form) -}}

                {% if has_append_html %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{ easyadmin.field.append_html|raw }}</span>
                    </div>
                {% endif %}
                {% if has_input_groups %}</div>{% endif %}

            {% if _field_type in ['datetime', 'datetime_immutable', 'date', 'date_immutable', 'dateinterval', 'time', 'time_immutable', 'birthday'] and easyadmin.field.nullable|default(false) %}
                <div class="nullable-control">
                    <label>
                        <input type="checkbox" {% if data is null %}checked="checked"{% endif %}>
                        {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                    </label>
                </div>
            {% endif %}

            {% if easyadmin.field.help|default(form.vars.help) != '' %}
                <small class="form-help">{{ easyadmin.field.help|default(form.vars.help)|trans(domain = form.vars.translation_domain)|raw }}</small>
            {% endif %}

            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}
