{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('list_box') }}
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <div class="row">
            {% for box in boxs %}
                {% set qtyInCard = checkIsBoxInCart(box) %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                    <div class="card-box d-flex flex-column white">
                        <div class="card-box_header d-flex justify-content-center align-items-center" style="background-color: {{ box.color }};">
                        </div>
                        <div class="card-box_header_image d-flex justify-content-center pt-3 pb-3">
                            <img class="mb-3 img-fluid" src="{{ vich_uploader_asset(box, 'imageFile') }}"/>
                        </div>
                        <div class="card-box_content d-flex flex-column pl-4 pr-4 overflow-hidden">
                            <h4 class="h5 text-center font-weight-bold" style="color:  {{ box.color }}">{{ box.name }}</h4>
                            <p class="h-100 overflow-auto">
                                {{ box.description }}
                            </p>
                        </div>
                        <div class="card-box_price d-flex justify-content-around align-content-center pt-2 pb-2 box_{{ box.id }}">
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="h5 m-0 font-weight-bold">{{ box.price }}€</span>
                                </div>
                                <a href="{{ path('detail_box', {'id': box.id}) }}" class="detail-box-to-show d-flex justify-content-center align-items-center">
                                    <img class="icon" src="{{ asset('build/images/eye.png') }}"/>
                                </a>
                                <a data-box-id={{ box.id}} href="{{ path('add_box_to_card', {'id': box.id}) }}" class="detail-box-to-add d-flex justify-content-center align-items-center">
                                    <img class="icon" src="{{ asset('build/images/cart.png') }}"/>
                                </a>
                                <div class="d-flex quantity justify-content-center align-items-center">
                                    <select id="{{ box.id }}" class="mt-0 mb-0">
                                        <option {% if qtyInCard == 0 %}selected{% endif%} disabled>Quantité</option>
                                        {% for i in 1..10 %}
                                            <option {% if qtyInCard == i%}selected{% endif%} value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <div class="card-box_footer d-flex flex-column justify-content-around pt-2 pb-2">
                            <div class="card-box_footer_rating d-flex justify-content-around align-content-center">
                                <div style="color: {{ box.color }}">
                                    {% set lengthRate = box.averageRate %}
                                    {% set lengthEmptyRate = 5 - lengthRate %}
                                    {% for i in 1..lengthRate %}
                                        {% if lengthRate > 0 %}
                                            <i class="fa fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in 1..lengthEmptyRate %}
                                        {% if lengthEmptyRate > 0 %}
                                            <i class="far fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    <span>{{ box.opinions|length }} Avis</span>
                                </div>
                            </div>
                            <div class="card-box_footer_short text-center">
                                <span>"{{ box.shortPhrase }}"</span>
                            </div>
                        </div>
                        <div class="card-box_footer_color" style="background-color: {{ box.color }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('list_box') }}
{% endblock %}
