<div class="container my-5">
    <section class="dark-grey-text">
        <div class="card">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body form">
                        <h3 class="font-weight-bold dark-grey-text mt-4"><i class="fa fa-envelope pr-2 mr-1"></i>Contactez-nous:</h3>
                        {% form_theme form 'forms/_contact.html.twig' %}
                        {{ form_start(form, {'attr': {'action': path('contact_page'),'class': 'ajaxForm', 'method': 'POST'}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.phoneNumber) }}
                                </div>
                            </div>
                            <div id="ordernumberinput" class="col-md-6 d-none">
                                <div class="md-form mb-0">
                                    {{ form_row(form.orderNumber) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    {{ form_row(form.subject) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    {{ form_row(form.message) }}
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-end">
                                <button class="button-custom btn-floating d-flex justify-content-center align-items-center">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
                <div class="col-lg-4">

                    <div class="card-body contact text-center h-100 text-white primary-bkg">

                        <h3 class="font-weight-bold my-4 pb-2">Information</h3>
                        <ul class="text-lg-left list-unstyled">
                            <li>
                                <p class="text-left"><i class="fas fa-map-marker-alt pr-1 text-white"></i>
                                    <span>Marseille, 13004, France</span>
                                </p>
                            </li>
                            <li>
                                <p class="text-left">
                                    <i class="fa fa-envelope pr-1"></i>
                                    <a href="mailto:contact@monpremiersommelier.com?subject=Demande information">
                                        Contactez-nous
                                    </a>
                                </p>
                            </li>
                        </ul>
                        <hr class="hr-light my-4">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
