<div class="container my-5">
    <section class="contact-section dark-grey-text">
        <div class="card">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body form">
                        <h3 class="font-weight-bold dark-grey-text mt-4"><i class="fa fa-envelope pr-2 mr-1"></i>Contactez-nous:</h3>
                        {% form_theme form 'forms/_contact.html.twig' %}
                        {{ form_start(form, {'attr': {'action': path('contact_page'), 'method': 'POST'}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    {{ form_row(form.phoneNumber) }}
                                </div>
                            </div>
                            <div id="ordernumberinput" class="col-md-6 d-none">
                                <div class="md-form mb-0">
                                    {{ form_row(form.orderNumber) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    {{ form_row(form.subject) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    {{ form_row(form.message) }}
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn primary-bkg text-white btn-rounded">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
                <div class="col-lg-4">

                    <div class="card-body contact text-center h-100 white-text primary-bkg">

                        <h3 class="font-weight-bold my-4 pb-2">Information</h3>
                        <ul class="text-lg-left list-unstyled">
                            <li>
                                <p><i class="fa fa-map-marker-alt pr-1"></i>Marseille, 13014, France</p>
                            </li>
                            <li>
                                <p><i class="fa fa-phone pr-1"></i>+33 6 12 34 56 78</p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope pr-1"></i>monpremiersasu@gmail.com</p>
                            </li>
                        </ul>
                        <hr class="hr-light my-4">
                        <ul class="list-inline text-center list-unstyled">
                            <li class="list-inline-item">
                                <a class="p-2 fa-lg li-ic ">
                                    <i class="fa fa-facebook text-white"> </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2 fa-lg ins-ic">
                                    <i class="fa fa-instagram text-white"> </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
