<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/tarteaucitronjs/tarteaucitron.js"></script>

    <script type="text/javascript">
        tarteaucitron.init({
            "privacyUrl": "http://www.google.fr", /* Privacy policy url */

            "hashtag": "#vins", /* Open the panel with this hashtag */
            "cookieName": "amazingtarteaucitron", /* Cookie name */

            "orientation": "bottom", /* Banner position (top - bottom) */
            "showAlertSmall": true, /* Show the small banner on bottom right */
            "cookieslist": true, /* Show the cookie list */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": true, /* Disable auto consent */
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */
            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

            "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Raleway|Dekko|Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendor/mdb/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('vendor/mdb/css/mdb.min.css')}}">
    <link rel="stylesheet" href="{{asset('vendor/mdb/css/style.css')}}">
    {{encore_entry_link_tags('app')}}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'parts/_headers.html.twig' %}
    <div id="main-container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}} alert-dismissible fade show text-center m-0" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endfor %}
                {% block breadcrumb %}{% endblock %}
                {% block body %}{% endblock %}
        </div>
        {% include 'parts/_footers.html.twig' %}
        <div id="loading-overlay">
            <div class="loader"></div>
        </div>
        {% include 'parts/_modals.html.twig' %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="{{ asset('vendor/mdb/js/popper.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/mdb/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/mdb/js/mdb.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
