<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/tarteaucitronjs/tarteaucitron.js"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "http://www.google.fr", /* Privacy policy url */

                "hashtag": "#vins", /* Open the panel with this hashtag */
                "cookieName": "amazingtarteaucitron", /* Cookie name */

                "orientation": "bottom", /* Banner position (top - bottom) */
                "showAlertSmall": true, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */

                "adblocker": false, /* Show a Warning if an adblocker is detected */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* Disable auto consent */
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
            });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">

        {{encore_entry_link_tags('app')}}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <ul class="side-nav">
                <li class="white">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <a href="{{ path('homepage') }}">
                            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid"/>
                        </a>
                    </div>
                </li>
                <li class="border-bottom">
                    <div>
                        <ul class="list-unstyled d-flex flex-row justify-content-around align-items-center pt-2 pb-2">
                            <li><i class="fab fa-facebook-f fa-lg"></i></li>
                            <li><i class="fab fa-twitter fa-lg"></i></li>
                            <li><i class="fab fa-pinterest fa-lg"></i></li>
                        </ul>
                    </div>
                </li>
                <li class="border-bottom">
                    <div class="pt-2 pb-2">
                        <i class="fa fa-home ml-3 mr-2"></i>
                        <a href="{{ path('homepage') }}" class="text-uppercase">Accueil</a>
                    </div>
                </li>
                <li class="border-bottom">
                    <div class="pt-2 pb-2">
                        <img src="{{ asset('build/images/wine-glass.png') }}" class="ml-3 mr-2" style="max-height: 14px">
                        <a href="#" class="text-uppercase">Vins</a>
                    </div>
                </li>
                <li class="border-bottom">
                    <div class="pt-2 pb-2">
                        <i class="fa fa-info ml-3 mr-2"></i>
                        <a href="#" class="text-uppercase">Les profils</a>
                    </div>
                </li>
            </ul>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar white">
                <div class="container">
                    <a class="navbar-brand font-weight-bold" href="#">
                        <strong class="text-uppercase">Mon premier sommelier</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link dark-grey-text font-weight-bold waves-effect waves-light" href="#">
                                    <span class="badge danger-color">4</span>
                                    <i class="fas fa-shopping-cart blue-text" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                                    <i class="fas fa-truck"></i>
                                    Suivi commande
                                </a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold">
                                    <i class="fas fa-question"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <div id="loading-overlay">
            <div class="loader"></div>
        </div>
        {% include 'parts/_modals.html.twig' %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
