<style>
    #chartFruity {
        background: transparent url('img/fruits.svg') no-repeat center;
        background-size: 45%;
    }
    #chartRobustness {
        background: transparent url('img/robustness.png') no-repeat center;
        background-size: 40%;
    }
</style>

<div class="container detail-wine">
    <div class="row">
        <div class="col-12">


    <ul class="nav nav-tabs nav-justified md-tabs primary-bkg" id="myTabJust" role="tablist">
        <li class="nav-item ml-2">
            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#wine-domain" role="tab" aria-controls="home-just"
               aria-selected="true">Vin & Domaine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#opinions" role="tab" aria-controls="profile-just"
               aria-selected="false">Avis</a>
        </li>
    </ul>
    <div class="tab-content card p-0 pl-0 pr-0" id="myTabContentJust">
        <div class="container mt-1 mb-1">
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn primary-bkg text-white"><i class="fa fa-cart-plus pr-2" aria-hidden="true"></i>Ajouter au panier</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show active" id="wine-domain" role="tabpanel" aria-labelledby="home-tab-just">
            <div class="item-caract container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <canvas class="m-0" id="chartFruity" width="150" height="150"></canvas>
                        <span class="item-caract_sign-minus font-weight-bold">-</span>
                        <span class="item-caract_sign-plus font-weight-bold">+</span>
                    </div>
                    <div class="imgTaste col-sm-12 col-md-4" style="background: transparent url('img/essai.png') no-repeat center; background-size: 80%">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <canvas class="m-0" id="chartRobustness" width="200" height="200"></canvas>
                        <span class="item-caract_sign-minus font-weight-bold">-</span>
                        <span class="item-caract_sign-plus font-weight-bold">+</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row pt-3 pb-3">
                    <div class="col text-center">
                        <img class="picto" src="{{ asset('build/images/thermometer.svg') }}" alt="thermometre" />
                    </div>
                    <div class="col text-center">
                        <img class="picto" src="{{ asset('build/images/carafage.png') }}" alt="carafage" />
                    </div>
                    <div class="col text-center">
                        <img class="picto" src="{{ asset('build/images/restaurant.png') }}" alt="repas" />
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-exclamation-triangle fa-3x"></i>
                    </div>
                    <div class="col text-center">
                        <img class="picto" src="{{ asset('build/images/grapes.png') }}" alt="cepage" />
                    </div>
                </div>
                <div class="row pt-1 pb-3">
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.temp }} °C</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.decanting ? 'Oui' : 'Non' }}</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.opportunity }}</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.alcoholDegree }}°</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.getGrape(true) }}</span>
                    </div>
                </div>
            </div>
            {% if wine.dishes|length > 0 %}
                <div class="container-fluid dishes p-0">
                    <div class="row pt-3 pb-3">
                        {% for dish in wine.dishes %}
                            <div class="col-4 text-center">
                                <img src="{{ vich_uploader_asset(dish, 'imageFile') }}" />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row pt-1 pb-3">
                        {% for dish in wine.dishes %}
                            <div class="col-4 text-center">
                                <span>{{ dish.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="d-flex flex-column justify-content-center align-items-center pt-5 pb-5 pr-4 pl-4">
                <div class="container mb-5">
                    <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img class="rounded-circle w-50" src="{{ vich_uploader_asset(wine.domain, 'winegrowerPictureFile') }}" />
                            </div>
                    </div>
                </div>
                {{ wine.domain.description|raw }}
            </div>
        </div>
        <div class="tab-pane fade" id="opinions" role="tabpanel" aria-labelledby="profile-tab-just">
            <section class="opinions-container  pt-4 pb-4 pl-2 pr-2"  style="background-color: #ff9e9e; min-height: 430px">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <h3 class="h3">{{ wine.countElementOpinion('rate', true) }}</h3>
                                        <span> / 5</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <form>
                                            <textarea rows="5" cols="5"></textarea>
                                        </form>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center p-3" style="background-color: #ffebeb;">
                                    <div class="d-flex justify-content-center w-100">
                                        <i class="fas fa-star mr-2"></i>
                                        <span class="small">{{ wine.countElementOpinion('rate') }} notes</span>
                                    </div>
                                    <div class="d-flex justify-content-center w-100">
                                        <i class="fas fa-comment mr-2"></i>
                                        <span class="small">{{ wine.countElementOpinion('comment') }} commentaires</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {% for opinion in wine.opinions %}
                                {% if not opinion.isValid %}
                                <div class="row pl-4 pr-4 pt-1 pb-1">
                                    <div class="col-3">
                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                            <div>
                                                {% set lengthRate = wine.averageRate %}
                                                {% set lengthEmptyRate = 5 - lengthRate %}
                                                {% for i in 1..lengthRate %}
                                                    {% if lengthRate > 0 %}
                                                        <i class="fa fa-star" style="color: {{ wine.profile.color }}"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for i in 1..lengthEmptyRate %}
                                                    {% if lengthEmptyRate > 0 %}
                                                        <i class="far fa-star" style="color: {{ wine.profile.color }}"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div>
                                                {{ opinion.name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9">

                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    </div></div>
<script>
    new Chart(
        document.getElementById('chartFruity'),
        {
            type: 'doughnut',
            data: {
                labels: false,
                tooltip: false,
                datasets: [
                    {
                        data: [{{wine.wineCaract.fruity}}, 100 - {{wine.wineCaract.fruity}}],
                        backgroundColor: [
                            "#ffc864",
                            "rgba(255,200,100,0.4)",
                        ],
                        borderColor: [
                            "#ffc864",
                            "rgba(255,200,100,0.4)",
                        ],
                        borderWidth: 10
                    }
                ]
            },
            options: {
                rotation: 0.85 * Math.PI,
                circumference: 1.3 * Math.PI,
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                },
                tooltips: {
                    custom: function (tooltipmodel) {
                        tooltipmodel.opacity = 0;
                    }
                },
                hover: {mode: null},
                cutoutPercentage: 95
            }
        }
    )
    new Chart(
        document.getElementById('chartRobustness'),
        {
            type: 'doughnut',
            data: {
                labels: false,
                tooltip: false,
                datasets: [
                    {
                        data: [{{wine.wineCaract.robustness}}, 100 - {{wine.wineCaract.robustness}}],
                        backgroundColor: [
                            "#ff3c3c",
                            "rgba(255,60,60,0.4)",
                        ],
                        borderColor: [
                            "#ff3c3c",
                            "rgba(255,60,60,0.4)",
                        ],
                        borderWidth: 10
                    }
                ]
            },
            options: {
                rotation: 0.85 * Math.PI,
                circumference: 1.3 * Math.PI,
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                },
                tooltips: {
                    custom: function (tooltipmodel) {
                        tooltipmodel.opacity = 0;
                    }
                },
                hover: {mode: null},
                cutoutPercentage: 95
            }
        }
    )
</script>