<style>
    #chartFruity {
        background: transparent url('img/fruit.png') no-repeat center 70px;
        background-size: 30%;
    }
    #chartRobustness {
        background: transparent url('img/robustness.png') no-repeat center 70px;
        background-size: 30%;
    }
</style>

<div class="container detail-wine">
    <ul class="nav nav-tabs nav-justified md-tabs primary-bkg" id="myTabJust" role="tablist">
        <li class="nav-item ml-2">
            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#wine-domain" role="tab" aria-controls="home-just"
               aria-selected="true">Vin & Domaine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#opinions" role="tab" aria-controls="profile-just"
               aria-selected="false">Avis</a>
        </li>
    </ul>
    <div class="tab-content card p-0 pl-0 pr-0" id="myTabContentJust">
        <div class="container mt-1 mb-1">
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn primary-bkg text-white"><i class="fa fa-cart-plus pr-2" aria-hidden="true"></i>Ajouter au panier</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show active" id="wine-domain" role="tabpanel" aria-labelledby="home-tab-just">
            <div class="item-caract d-flex justify-content-around align-items-center">
                <canvas class="m-0" id="chartFruity" width="200" height="200"></canvas>
                <div id="imgTaste" style="background: transparent url('img/taste_tannique.png') no-repeat center; background-size: 100%"></div>
                <canvas class="m-0" id="chartRobustness" width="200" height="200"></canvas>
            </div>
            <div class="container">
                <div class="row pt-3 pb-3">
                    <div class="col text-center">
                        <i class="fas fa-thermometer-quarter fa-3x"></i>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-thermometer-quarter fa-3x"></i>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-thermometer-quarter fa-3x"></i>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-thermometer-quarter fa-3x"></i>
                    </div>
                </div>
                <div class="row pt-1 pb-3 font-weight-bold">
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.temp }} °C</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.decanting ? 'Oui' : 'Non' }}</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.opportunity }}</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-center">{{ wine.wineService.getGrape(true) }}</span>
                    </div>
                </div>
            </div>
            {% if wine.dishes|length > 0 %}
                <div class="container-fluid dishes p-0">
                    <div class="row pt-3 pb-3">
                        {% for dish in wine.dishes %}
                            <div class="col text-center">
                                <img src="{{ vich_uploader_asset(dish, 'imageFile') }}" />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row pt-1 pb-3 font-weight-bold">
                        {% for dish in wine.dishes %}
                            <div class="col text-center">
                                <span>{{ dish.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="d-flex flex-column justify-content-center align-items-center pt-5 pb-5 pr-4 pl-4">
                {{ wine.domain.description|raw }}
            </div>
        </div>
        <div class="tab-pane fade" id="opinions" role="tabpanel" aria-labelledby="profile-tab-just">
            <div class="d-flex justify-content-around align-items-center m-0">
            </div>
        </div>
    </div>
</div>
<script>
    new Chart(
        document.getElementById('chartFruity'),
        {
            type: 'doughnut',
            data: {
                labels: false,
                tooltip: false,
                datasets: [
                    {
                        data: [{{wine.wineCaract.fruity}}, 100 - {{wine.wineCaract.fruity}}],
                        backgroundColor: [
                            "#e7ad14",
                            "#ffe6a5",
                        ],
                        borderColor: [
                            "#e7ad14",
                            "#ffe6a5",
                        ],
                        borderWidth: 5
                    }
                ]
            },
            options: {
                rotation: 0.85 * Math.PI,
                circumference: 1.3 * Math.PI,
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                },
                tooltips: {
                    custom: function (tooltipmodel) {
                        tooltipmodel.opacity = 0;
                    }
                },
                hover: {mode: null},
                cutoutPercentage: 95
            }
        }
    )
    new Chart(
        document.getElementById('chartRobustness'),
        {
            type: 'doughnut',
            data: {
                labels: false,
                tooltip: false,
                datasets: [
                    {
                        data: [{{wine.wineCaract.robustness}}, 100 - {{wine.wineCaract.robustness}}],
                        backgroundColor: [
                            "#e73e2b",
                            "#ff9d85",
                        ],
                        borderColor: [
                            "#e73e2b",
                            "#ff9d85",
                        ],
                        borderWidth: 5
                    }
                ]
            },
            options: {
                rotation: 0.85 * Math.PI,
                circumference: 1.3 * Math.PI,
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                },
                tooltips: {
                    custom: function (tooltipmodel) {
                        tooltipmodel.opacity = 0;
                    }
                },
                hover: {mode: null},
                cutoutPercentage: 95
            }
        }
    )
</script>