{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('list_wine') }}
{% endblock %}
{% block body %}
<div class="container mb-3">
    {% form_theme form 'forms/filters.html.twig' %}
    {{ form_start(form) }}
    <div id="filters" class="row mb-4">

        <div class="col-sm-6 col-md-3">
            {{ form_widget(form.profiles) }}
        </div>
        <div class="col-sm-6 col-md-3">
            {{ form_widget(form.regions) }}
        </div>
        <div class="col-sm-6 col-md-3">
            {{ form_widget(form.accords) }}
        </div>
        <div class="col-sm-6 col-md-3">
            {{ form_widget(form.occasions) }}
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    {{ form_widget(form.price) }}
                </div>
                <div class="col-sm-6 col-md-3 d-flex">
                    <button class="button-custom btn-floating d-flex justify-content-center align-items-center">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="{{ path('wine_list') }}" class="button-custom btn-floating d-flex justify-content-center align-items-center white black-text">
                        <i class="fas fa-close black-text"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}
    <div class="row">
        {% for wine in wines %}
        <div class="col-sm-12 col-md-3 mb-5">
            <div class="card-wine {% if not wine.hasStock %}no-stock{% endif %}">
                <div class="card-wine_header d-flex justify-content-center align-items-center" style="background-color: {{ wine.profile.color }};">
                    <div class="card-wine_header-text pl-4">
                        <span style="color: {{ wine.profile.colorText }};">{{ wine.profile }}</span>
                    </div>
                </div>
                <div class="card-wine_header-image">
                    <div class="card-wine_header-image_circle-first">
                        <div class="card-wine_header-image_circle-second d-flex align-items-center justify-content-center" style="border: 3px solid {{ wine.profile.color }}">
                            <img src="{{ vich_uploader_asset(wine.profile, 'imageFile') }}" height="250" alt="{{ wine.profile.name }}"/>
                        </div>
                    </div>
                </div>
                <div class="card-wine_content d-flex flex-column">
                    <div class="card-wine_content-product d-flex flex-column justify-content-around pt-2 pb-2">
                        <div class="card-wine_content-product_general container-fluid mb-2">
                            <div class="card-wine_content-product_image row h-100">
                                <figure class="col-12 d-flex justify-content-center align-items-center m-0">
                                    <div class="badges d-flex flex-column justify-content-end">
                                        {% if wine.firstBadge %}
                                            <img class="rounded-circle {% if wine.secondBadge is not null %}mb-2{% endif %}" src="{{ vich_uploader_asset(wine, 'firstBadgeFile') }}" height="45" width="45" alt="Badge 1"/>
                                        {% endif %}
                                        {% if wine.secondBadge %}
                                            <img class="rounded-circle" src="{{ vich_uploader_asset(wine, 'secondBadgeFile') }}" height="45" width="45" alt="Badge 2"/>
                                        {% endif %}
                                    </div>
                                    <img class="wine" src="{{ vich_uploader_asset(wine, 'imageFile') }}" alt="{{ wine.vintageName }}"/>
                                    <img class="vigneron float-right rounded-circle" src="{{ vich_uploader_asset(wine.domain, 'winegrowerPictureFile') }}" alt="Vigneron"/>
                                </figure>
                            </div>
                        </div>
                        <div class="card-wine_content-product_content d-flex flex-column justify-content-around align-items-center">
                            <span class="font-weight-bold" style="color: {{ wine.profile.color }}">{{ wine.vintageName }}</span>
                            <span>{{ wine.year }}</span>
                            <span>{{ wine.domain }}</span>
                            <span>{{ wine.appellation }}</span>
                        </div>
                    </div>
                    <div class="card-wine_content-price container-fluid">
                        <div class="row pt-2 pb-2 d-flex justify-content-center align-items-center">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="h5 m-0 w-100 d-flex justify-content-around">
                                        <span class="{% if wine.getLowerCapacityPrice.pricePromo is not null %}text-cancel{% else %}font-weight-bold{% endif %}">{{ wine.getLowerCapacityPrice.priceInit }} €</span>
                                        {% if wine.getLowerCapacityPrice.pricePromo is not null %}
                                        <span class="font-weight-bold primary-text">{{ wine.getLowerCapacityPrice.pricePromo }} €</span>
                                        {% endif %}
                                    </div>
{#                                    {% if wine.capacities|length > 0 and wine.hasStock %}#}
{#                                        <span class="small text-center">#}
{#                                            Disponible en {{ wine.listTypeCapacities }}#}
{#                                        </span>#}
{#                                    {% endif %}#}
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-around align-items-center h-100 w-100">
                                    <a class="detail-wine" data-url="{{ path('detail_wine', {'id': wine.id}) }}" href="#">
                                        <img class="icon" src="{{ asset('build/images/eye.png') }}" width="40" alt="Voir plus"/>
                                    </a>
                                    {% if wine.hasStock %}
                                        <a class="add-to-cart" data-url="{{ path('add_wine_to_card', {'id': wine.id}) }}" href="#">
                                            <img class="icon" src="{{ asset('build/images/cart.png') }}" width="40" alt="Ajouter au panier"/>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wine_content-footer d-flex flex-column justify-content-center align-items-center pt-2 pb-2">
                        <div class="card-wine_content-footer_rating d-flex justify-content-around align-items-center">
                            <div class="mr-3">
                                {% set lengthRate = wine.averageRate %}
                                {% set lengthEmptyRate = 5 - lengthRate %}
                                {% for i in 1..lengthRate %}
                                    {% if lengthRate > 0 %}
                                        <i class="fa fa-star" style="color: {{ wine.profile.color }}"></i>
                                    {% endif %}
                                {% endfor %}
                                {% for i in 1..lengthEmptyRate %}
                                    {% if lengthEmptyRate > 0 %}
                                        <i class="far fa-star" style="color: {{ wine.profile.color }}"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                <span>
                                {{ wine.opinions|length }} Avis
                            </span>
                            </div>
                        </div>
                        <div class="card-wine_content-footer_short">
                            <span>"{{ wine.shortPhrase }}"</span>
                        </div>
                    </div>
                </div>
                <div class="card-wine_footer" style="background-color: {{ wine.profile.color }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('list_wine') }}
{% endblock %}
