{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('list_wine') }}
{% endblock %}
{% block body %}
<div class="container mt-5 mb-3">
    <div class="row">
        {% for wine in wines %}
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-wine">
                <div class="card-wine_header d-flex justify-content-center align-items-center" style="background-color: {{ wine.profile.color }};">
                    <div class="card-wine_header-text">
                        <span style="color: {{ wine.profile.colorText }};">{{ wine.profile }}</span>
                    </div>
                </div>
                <div class="card-wine_header-image">
                    <div class="card-wine_header-image_circle-first">
                        <div class="card-wine_header-image_circle-second d-flex align-items-center justify-content-center" style="border: 3px solid {{ wine.profile.color }}">
                            <img src="{{ vich_uploader_asset(wine.profile, 'imageFile') }}"/>
                        </div>
                    </div>
                </div>
                <div class="card-wine_content d-flex flex-column">
                    <div class="card-wine_content-product d-flex flex-column justify-content-around">
                        <div class="card-wine_content-product_general container-fluid">
                            <div class="card-wine_content-product_image row h-100">
                                <figure class="col-12 d-flex justify-content-center align-items-center m-0">
                                    <div class="badges d-flex flex-column justify-content-end">
                                        {% if wine.firstBadge %}
                                            <img class="rounded-circle mb-3" src="{{ vich_uploader_asset(wine, 'firstBadgeFile') }}" height="50" width="50"/>
                                        {% endif %}
                                        {% if wine.secondBadge %}
                                            <img class="rounded-circle" src="{{ vich_uploader_asset(wine, 'secondBadgeFile') }}" height="50" width="50"/>
                                        {% endif %}
                                    </div>
                                    <img class="wine" src="{{ vich_uploader_asset(wine, 'imageFile') }}"/>
                                    <img class="vigneron float-right rounded-circle" src="{{ vich_uploader_asset(wine.domain, 'winegrowerPictureFile') }}"/>
                                </figure>
                            </div>
                        </div>
                        <div class="card-wine_content-product_content d-flex flex-column justify-content-around align-items-center">
                            <span class="font-weight-bold" style="color: {{ wine.profile.color }}">{{ wine.vintageName }}</span>
                            <span>{{ wine.year }}</span>
                            <span>{{ wine.domain }}</span>
                            <span>{{ wine.appellation }}</span>
                        </div>
                    </div>
                    <div class="card-wine_content-price container-fluid">
                        <div class="row pt-2 pb-2 d-flex justify-content-center align-items-center">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h3 class="h5 font-weight-bold m-0">{{ wine.getLowerCapacityPrice }} €</h3>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-around align-items-center h-100 w-100">
                                    <a class="detail-wine" data-url="{{ path('detail_wine', {'id': wine.id}) }}" href="#"><i class="fas fa-2x fa-eye black-text"></i></a>
                                    <i class="fab fa-2x fa-opencart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wine_content-footer d-flex flex-column justify-content-center align-items-center">
                        <div class="card-wine_content-footer_rating d-flex justify-content-around align-items-center">
                            <div class="mr-3">
                                {% set lengthRate = wine.averageRate %}
                                {% set lengthEmptyRate = 5 - lengthRate %}
                                {% for i in 1..lengthRate %}
                                    {% if lengthRate > 0 %}
                                        <i class="fa fa-star" style="color: {{ wine.profile.color }}"></i>
                                    {% endif %}
                                {% endfor %}
                                {% for i in 1..lengthEmptyRate %}
                                    {% if lengthEmptyRate > 0 %}
                                        <i class="far fa-star" style="color: {{ wine.profile.color }}"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                <span>
                                {{ wine.opinions|length }} Avis
                            </span>
                            </div>
                        </div>
                        <div class="card-wine_content-footer_short">
                            <span>"{{ wine.shortPhrase }}"</span>
                        </div>
                    </div>
                </div>
                <div class="card-wine_footer" style="background-color: {{ wine.profile.color }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('list_wine') }}
{% endblock %}