<footer {% if app.session.has('cart') and app.session.get('cart').countElementsInCart == 0 and app.request.get('_route') == 'cart_checkout'%}class="fixed-bottom" {% endif %}>
    <div class="container">
        <div class="row mb-2 pt-2">
            <div class="col d-none d-md-flex flex-column justify-content-between align-items-center">
                <div>
                    <h3>A propos</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ path('delivery_information') }}">Livraison</a>
                        </li>
                    </ul>
                </div>
                <ul class="list-inline text-center list-unstyled m-0 social-butons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/MonPremierSommelier" target="_blank" class="p-2">
                            <i class="fa fa-facebook fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/MonPremierSommelier" target="_blank" class="p-2">
                            <i class="fa fa-instagram fa-2x"> </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <div class="text-center">
                    <span class="font-weight-bold">M'inscrire à la newsletter</span>
                </div>
                <div class="text-left">
                    {{ render(url('registration_newsletter')) }}
                </div>
            </div>
            <div class="col d-none d-md-flex flex-column justify-content-start align-items-center">
                <h3>Besoin d'aide ?</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="contact" data-url="{{ path('contact_page') }}" href="#">Nous contacter</a>
                    </li>
                    <li class="nav-item">
                        <a class="static-call" data-url="{{ path('static_page', {'page': 'cgv'}) }}" href="#">Mentions légales & CGV</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-information row d-flex justify-content-center align-items-center text-white">
            <div class="col-12 text-center">
                <i class="fa fa-copyright"></i>
                <span class="ml-1">Mon premier sommelier. Tous droits réservés.</span>
            </div>
        </div>
        <div class="footer-prevent-alcoohol row d-flex justify-content-center justify-content-center text-white">
            <div class="col-12 text-center">
                <span class="font-italic">L'abus d'alcool est dangereux pour la santé. A consommer avec modération.</span>
            </div>
        </div>
    </div>
    <div class="container-fluid legal-minor d-flex justify-content-center pt-3 pb-3 mt-2">
        <img class="img-fluid" src="{{ asset('build/images/bandeau_informatif_alcool_mineurs.png') }}" alt="information legal mineur"/>
    </div>
</footer>