<header id="desktop" class="fixed-top pr-0">
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col text-center">
                <span>Marseille uniquement</span>
            </div>
            <div class="col text-center">
                <span>La livraison est garantie sans casse pour 4€ seulement !</span>
            </div>
        </div>
    </div>
    <nav class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <div></div>
                    </li>
                </ul>
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <a class="nav-link text-center" href="#">Les boxs
                        </a>
                    </li>
                </ul>
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <a class="nav-link text-center" href="{{ path('wine_list') }}">Les vins</a>
                    </li>
                </ul>
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center align-items-center">
                        <a class="nav-link text-center" href="{{ path('list_profiles') }}">Les profils de vin</a>
                    </li>
                </ul>
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center dropdown">
                        <a class="nav-link dropdown-toggle text-white text-center" id="learn_wine" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            J'apprends le vin
                        </a>
                        <div class="dropdown-menu dropdown-mps dropdown-menu-lg-right"
                             aria-labelledby="learn_wine">
                            <a class="dropdown-item" href="{{ path('mpmd_list') }}">Ma Première Méthode</a>
                            <a class="dropdown-item" href="{{ path('tastuces_list') }}">Les Tastuces</a>
                        </div>
                    </li>
                </ul>
                <ul class="col navbar-nav d-flex justify-content-center">
                    <li class="nav-item d-flex flex-column justify-content-center dropdown">
                        <a class="nav-link dropdown-toggle text-white text-center" id="about" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Et plus encore...
                        </a>
                        <div class="dropdown-menu dropdown-mps dropdown-menu-lg-right"
                             aria-labelledby="about">
                            <a class="dropdown-item" href="#">Les daygusts</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-logo d-flex">
        <a href="{{ path('homepage') }}">
            <div class="header_logo_circle-first">
                <div class="header_logo_circle-second d-flex align-items-center justify-content-center">

                        <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="logo"/>

                </div>
            </div>
        </a>
    </div>
</header>
